* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: calc(0.75em + 1vmin);
    overflow-x: hidden;
}

:root {
    --color-black: #333333;
    --color-white: #fff;
    --color-accent: #FF9900;
    --color-active: #E1670E;
    --color-focus: rgba(255, 153, 0, 0.7);

    --f-size-h1: 70px;
    --f-size-h2: 48px;
    --f-size-h3: 24px;
    --f-size-p: 16px;
}

.cont {
    max-width: calc(100vw - 100px);
    margin: 0 auto;
    box-sizing: content-box;
}

/* HEADER-NAV */

.header {
    margin-bottom: 100px;
}

.nav__burger {
    position: relative;
    height: 25px;
    width: 30px;
    display: none;
    cursor: pointer;
}

.nav__burger-item {
    height: 3px; 
    width: 100%;
    background-color: var(--color-black);
    position: absolute;
}

.nav__burger-item:nth-child(2) {
    transform:  translateY(10px);
    -webkit-transform:  translateY(10px);
    -moz-transform:  translateY(10px);
    -ms-transform:  translateY(10px);
    -o-transform:  translateY(10px);
}

.nav__burger-item:nth-child(3) {
    transform:  translateY(20px);
    -webkit-transform:  translateY(20px);
    -moz-transform:  translateY(20px);
    -ms-transform:  translateY(20px);
    -o-transform:  translateY(20px);
}

.nav {
    position: relative;
    z-index: 9999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.nav__content {
    padding: 14px 0;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__menu {display: flex;}

.nav__cont {
    display: flex;
    gap: 85px;
    margin-right: 77px;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: var(--color-black);
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    padding: 10px 3px;
    position: relative;
}
.nav__link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -ms-transition: width .2s ease;
    -o-transition: width .2s ease;
}

.nav__link:hover::before {
    width: 100%;
}

.nav__link:active::before {
    background-color: var(--color-active);
}

.nav__link:active {
    color: var(--color-active);
}

.nav__form {
    position: absolute;
    right: 75px;
    bottom: -170px;
}

.nav__search {
    position: relative;
    display: none;
}

.nav__input-search {
    padding: 16px 95px 22px 32px;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #adadad;
    outline: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

.nav__search-line {
    position: absolute;
    height: 1px;
    background-color: #DCDCDC;
    top: 43px;
    left: 32px;
    width: 230px;
}

.nav__search-btn {
    background-color: transparent;
    padding: 2px;
    border: none;
    cursor: pointer;
}

.nav__search .nav__search-btn {
    background-color: transparent;
    padding: 2px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 57px;
    top: 18px;
}

.nav__search .nav__search-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 18px;
}

.nav__search-btn:hover .nav__search-icon path {stroke: var(--color-accent);}
.nav__search-btn:hover .nav__search-icon rect {fill: var(--color-accent);}

.nav__search-close-btn:hover .nav__search-close-icon circle {stroke: var(--color-accent);}
.nav__search-close-btn:hover .nav__search-close-icon rect {fill: var(--color-accent);}

/* HEADER-CONTENT */

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.header__title {
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 24px;
    color: var(--color-white);
    max-width: 837px;
}

.header__descr {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 90px;
    max-width: 790px;
}

.header__btn {
    border: none;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding: 25px 37px;
    color: var(--color-white);
    background-color: var(--color-accent);
    margin-bottom: 100px;
}

.header__btn:hover {background-color: rgba(255, 153, 0, 0.7);}
.header__btn:focus {background-color: rgba(255, 153, 0, 0.7);}
.header__btn:active {background-color: var(--color-active);}

.swiper-slide {
    padding: 100px 0 0 80px;
    background-repeat: no-repeat;
}

.swiper-slide:nth-child(1) {
    background-image: url("imgs/main-slider-bg1.png");
}
.swiper-slide:nth-child(2) {
    background-image: url("imgs/main-slider-bg2.png");
}
.swiper-slide:nth-child(3) {
    background-image: url("imgs/main-slider-bg3.png");
}

.swiper-pagination {
    margin-bottom: 30px;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.4);
    height: 15px;
    width: 15px;
    margin: 0 20px 0 0;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

/* MAIN */

.main {
    margin-bottom: 100px;
}

.title-sect {
    color: var(--color-black);
    font-size: var(--f-size-h2);
    font-weight: 400;
}

.descr-sect {
    color: var(--color-black);
    font-size: var(--f-size-p);
    line-height: 32px;
}

.main__title {
    grid-column: 1/12;
    margin-bottom: 20px;
}

.main__descr {
    grid-column: 1/10;
    margin-bottom: 50px;
}

.main__about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px
}

.main__about-img {
    position: relative;
}
.main__info-btn {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    color: var(--color-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.main__info-descr {
    font-weight: 700;
    font-size: var(--f-size-p);
    line-height: 32px;
    max-width: 454px;
}

.btn {
    color: var(--color-white);
    font-weight: 700;
    font-size: var(--f-size-p);
    padding: 20px 38px;
    background-color: transparent;
    border: 3px solid var(--color-accent);
}

.main__btn:hover, .btn:hover {
    background-color: var(--color-accent);
}
.main__btn:focus, .btn:focus {
    background-color: var(--color-accent);
}
.main__btn:active, .btn:active {
    background-color: var(--color-active);
    border: 3px solid var(--color-active);
}

.main__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.main__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    border: 1px solid #cacaca;
    padding: 65px 60px;
    display: flex;
}

.card:first-child {
    margin-bottom: 32px;
}
.card__info {
    width: 100%;
}

.card__icon {
    margin-right: 15px;
}

.card__title {
    font-size: var(--f-size-h3);
    margin-bottom: 8px;
}

.card__descr {
    font-size: var(--f-size-p);
}
.working {
    margin-bottom: 100px;
}

.working__title {
    margin-bottom: 50px;
}

.working__steps {
    margin-bottom: 45px;
}

.working__steps>*:not(:last-child) {
    margin-right: 85px;
}

.working__step-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 400;
    color: var(--color-black);
    padding: 5px;
}

.working__step-btn:hover {color: var(--color-accent);}
.working__step-btn:active {color: var(--color-active);}
.working__step-btn:focus {
    border: 2px solid var(--color-accent);
}

.working__consult {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.working__consult2, .working__consult3, .working__consult4 {
    display: none;
}

.working__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.working__info-text {
    font-size: 16px;
    line-height: 32px;
    color: var(--color-black);
    max-width: 758px;
    margin-bottom: 50px;
}

.working__btns>*:not(:last-child) {
    margin-right: 32px;
}

.working__more-btn {
    cursor: pointer;
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
}

.working__more-btn:hover {
    background-color: #F7B045;
    border: 1px solid #F7B045;
}
.working__more-btn:focus {
    background-color: #F7B045;
    border: 1px solid #F7B045;
}
.working__contract-btn {
    border: 1px solid var(--color-black);
    background-color: transparent;
    color: var(--color-black);
    font-weight: 400;
}
.working__contract-btn:hover {
    background-color: #666666;
    border: 1px solid #666666;
    color: var(--color-white);
}
.working__contract-btn:focus {
    background-color: #666666;
    border: 1px solid #666666;
    color: var(--color-white);
}
.working__contract-btn:active {
    background-color: #000000;
    border: 1px solid #000000;
    color: var(--color-white);
}

.working__img {
    object-fit: cover;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-left: 50px;
}

.questions__item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.questions__title {
    margin-bottom: 32px;
    position: relative;
}

.questions__item {
    position: relative;
    padding: 39px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.open-acard {
    display: block !important;
}

.question__text {
    display: none
}

.questions__item::before, .questions__title::after {
    content: '';
    position: absolute;
    left: 0;
    background-color: #E5E5E5;
    height: 1px;
    width: 100%;
}
.questions__title::after {bottom:-32px}
.questions__item::before {bottom: 0}

.questions__btn {
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    min-height: 50px;
    min-width: 50px;
    background-color: #ECECEC;
    position: relative;
    margin-left: 25px;
}

.questions__btn::after, .questions__btn::before {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 31px;
    left: 10px;
    top: 50%;
    background-color: #666666;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.questions__btn::after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.questions__btn::before {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}


.questions__btn.active-quest-btn.questions__btn::after{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
.questions__btn.active-quest-btn.questions__btn::before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.footer {
    background-color: #222222;
}

.footer__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px ,1fr));
    padding: 50px 0;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__links {
    max-width: 252px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 90px;
}

.footer__links-item {
    text-decoration: none;
    color: #CACACA;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    position: relative;
}

.footer__links-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--color-accent);
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -ms-transition: width .2s ease;
    -o-transition: width .2s ease;
}

.footer__links-item:hover::before {
    width: 100%;
}

.footer__social-media {
    display: flex;
    align-items: center;
}

.footer__social-media-link:not(:last-child) {
    margin-right: 25px;
}

.footer__social-media-link:hover path {
    fill: var(--color-accent);
}
.footer__social-media-link:focus{
    border: 2px solid var(--color-active);
    padding: 5px;
}
.footer__social-media-link:active path{
    fill: var(--color-active);
}

.footer__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 570px;
}

.footer__form-title {
    font-size: 48px;
    font-weight: 400;
    color: #cacaca;
    margin-bottom: 25px;
}

.footer__form-input {
    padding: 14px 0 14px 24px;
    background-color: #414141;
    color: #fff;
    width: 100%;
    outline: none;
    border: none;
    font-size: 16px;
    margin-bottom: 25px;
}

.footer__form-input::placeholder{
    color: #CACACA;
    font-size: 16px;
}

.footer__form-input:hover {
    background-color: #666666;
}
.footer__form-input:focus {
    background-color: #666666;
}
.footer__form-input:active::placeholder {
    background-color: #666666;
    color: #fff;
}

.footer__form-textarea {
    resize: none;
    height: 150px;
    padding: 14px 0 0 24px;
}

.footer__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__form-submit {
    cursor: pointer;
    background-color: var(--color-accent);
}

.form__checkbox {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

.form__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
  }
.form__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #cacaca;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
}

.form__checkbox:checked+label::before {
    background-image: url("icons/icon-checkbox.svg");
}

.form__checkbox-label {
    font-size: 16px;
    font-weight: 400;
    color: #cacaca;
}

.footer__text {
    max-width: 363px;
    justify-self: end;
    align-self: center;
}

.footer__text-descr {
    font-size: 16px;
    line-height: 32px;
    color: #cacaca;
}

@media (max-width: 1790px) {
    .nav__content {
        padding: 10px;
    }
}

@media (max-width: 1710px) {
    .footer__btns {
        align-items: flex-start;
        flex-direction: column;
    }
    .footer__form-submit{
        margin-bottom: 10px;
    }
}

@media (max-width: 1680px) {
    .main__about {
        grid-template-columns: 1fr;
    }
    .card {
        padding: 20px;
        row-gap: 2px;
    }
}

@media (max-width: 1324px) {
    .footer__text {
        display: none
    }
    .footer__content{
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}
@media (max-width: 1220px) {
    .nav__menu {display: none;}
    .nav__burger {display: block;}
    .header__title{font-size: calc(2em + 1vmin);}
    .header__descr{
        font-size: calc(0.75em + 1vmin);
        margin-bottom: 5%;
    }

}

@media (max-width: 975px) {
    .swiper-slide {
        padding: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header__btn {
        margin-bottom: 10%;
    }
    .swiper-pagination {
        margin-bottom: 2%;
    }
    
}
@media (max-width: 820px) {
    .card {
        grid-template-rows: 60px 128px;
    }
}
@media (max-width:830px) {
    .working__consult {
        grid-template-columns: 1fr;
        row-gap: 36px;
    }
    .working__img {
        grid-row-start: 1;
        margin-left: 0;
    }
    .working__steps {
        display: flex;
        justify-content: space-between;
    }
    .working__steps>*:not(:last-child) {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .footer__content {
        grid-template-columns: 1fr;
    }
    .footer__nav {
        grid-row-start: 2;
        margin-top: 50px
    }
}

@media (max-width: 710px) {
    .main__img {
        display: none;
    }
    .main__info-btn {
        position: static;
        background-color: var(--color-black);
        flex-direction: column;
    }
    .main__btn {
        margin-top: 10px;
        width: 100%;
    }
}

@media (max-width: 528px) {
    .cont {
        max-width: calc(100vw - 40px);
    }
    .card {
        flex-direction: column;
        border: none;
    }
    .card__icon {
        max-width: 64px;
        margin-bottom: 12px;
    }

}

@media (max-width: 404px) {
    .working__btns {
        flex-direction: column;
        display:flex
    }
    .working__btns>*:not(:last-child) {
        margin-right: 0;
        margin-bottom: 5px;
    }

}

