* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-size: calc(0.75em + 1vmin);
}

:root {
    --color-black: #333333;
    --color-white: #fff;
    --color-accent: #FF9900;
    --color-active: #E1670E;
    --color-focus: rgba(255, 153, 0, 0.7);

    --f-size-h1: 70px;
    --f-size-h2: 48px;
    --f-size-h3: 24px;
    --f-size-p: 16px;
}

.cont {
    max-width: 1770px;
    margin: 0 auto;
}

/* HEADER-NAV */

.header {
    margin-bottom: 115px;
}

.nav__burger {
    position: relative;
    height: 25px;
    width: 30px;
    display: none;
    cursor: pointer;
}

.nav__burger-item {
    height: 3px; 
    width: 100%;
    background-color: var(--color-black);
    position: absolute;
}

.nav__burger-item:nth-child(2) {
    transform:  translateY(10px);
    -webkit-transform:  translateY(10px);
    -moz-transform:  translateY(10px);
    -ms-transform:  translateY(10px);
    -o-transform:  translateY(10px);
}

.nav__burger-item:nth-child(3) {
    transform:  translateY(20px);
    -webkit-transform:  translateY(20px);
    -moz-transform:  translateY(20px);
    -ms-transform:  translateY(20px);
    -o-transform:  translateY(20px);
}

.nav {
    position: relative;
    z-index: 9999;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}

.nav__content {
    padding: 14px 0;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__menu {display: flex;}

.nav__cont {
    display: flex;
    gap: 85px;
    margin-right: 77px;
    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: var(--color-black);
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    padding: 10px 3px;
}

.nav__link:hover {
    color: var(--color-accent);
}

.nav__link:active {
    color: var(--color-active);
}

.nav__link:focus {
    border: 2px solid var(--color-accent);
    color: var(--color-black);
}

.nav__form {
    position: absolute;
    right: 75px;
    bottom: -170px;
}

.nav__search {
    position: relative;
    display: none;
}

.nav__input-search {
    padding: 16px 95px 22px 32px;
    border: none;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #adadad;
    outline: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

.nav__search-line {
    position: absolute;
    height: 1px;
    background-color: #DCDCDC;
    top: 43px;
    left: 32px;
    width: 230px;
}

.nav__search-btn {
    background-color: transparent;
    padding: 2px;
    border: none;
    cursor: pointer;
}

.nav__search .nav__search-btn {
    background-color: transparent;
    padding: 2px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 57px;
    top: 18px;
}

.nav__search .nav__search-close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 18px;
}

.nav__search-btn:hover .nav__search-icon path {stroke: var(--color-accent);}
.nav__search-btn:hover .nav__search-icon rect {fill: var(--color-accent);}

.nav__search-close-btn:hover .nav__search-close-icon circle {stroke: var(--color-accent);}
.nav__search-close-btn:hover .nav__search-close-icon rect {fill: var(--color-accent);}

/* HEADER-CONTENT */

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.header__title {
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 24px;
    color: var(--color-white);
    max-width: 837px;
}

.header__descr {
    font-size: 24px;
    font-weight: 700;
    color: var(--color-white);
    margin-bottom: 90px;
    max-width: 790px;
}

.header__btn {
    border: none;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    padding: 25px 37px;
    color: var(--color-white);
    background-color: var(--color-accent);
    margin-bottom: 100px;
}

.header__btn:hover {background-color: rgba(255, 153, 0, 0.7);}
.header__btn:focus {background-color: rgba(255, 153, 0, 0.7);}
.header__btn:active {background-color: var(--color-active);}

.swiper-slide {
    padding: 100px 0 0 80px;
    background-repeat: no-repeat;
}

.swiper-slide:nth-child(1) {
    background-image: url("imgs/main-slider-bg1.png");
}
.swiper-slide:nth-child(2) {
    background-image: url("imgs/main-slider-bg2.png");
}
.swiper-slide:nth-child(3) {
    background-image: url("imgs/main-slider-bg3.png");
}

.swiper-pagination {
    margin-bottom: 30px;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.4);
    height: 15px;
    width: 15px;
    margin: 0 20px 0 0;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

@media (max-width: 1790px) {
    .nav__content {
        padding: 10px;
    }
}

@media (max-width:1150px) {
    .nav__menu {display: none;}
    .nav__burger {display: block;}
    .header__title{font-size: calc(2em + 1vmin);}
    .header__descr{
        font-size: calc(0.75em + 1vmin);
        margin-bottom: 5%;
    }
}

@media (max-width: 975px) {
    .swiper-slide {
        padding: 3%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .header__btn {
        margin-bottom: 10%;
    }
    .swiper-pagination {
        margin-bottom: 2%;
    }
}